@import '../../common/stylus/page.styl'

.collection
	&__container
		// lost-utility clearfix
		max-width 1200px
		padding 10px
		margin auto
		lost-flex-container: row;

	&__img
		position relative
		lost-column 4/12 2 0 flex
		+below(4)
			padding 0 1rem
			lost-column none
			text-align center
			width 100% !important
		img
			width 101%
			max-width none
			z-index 10
			position relative
			+below(4)
				width auto
				max-width 100%
				margin auto
			+below(2)
				width 100%

	&__content
		position relative
		lost-column 8/12 2 0 flex
		height 100%
		+below(4)
			lost-column none
			width 100% !important

	&__title
		position absolute
		left calc( 100% + 8rem)
		top -10.5rem
		font-size 9rem
		font-weight 600
		line-height 0.8
		font-family mmedium
		text-align left
		&.__static
			position static
		+below(4)
			position static
			margin-bottom 4rem
		+below(2)
			font-size 15vw
			// text-align center

	&__desc
		margin-top 10rem
		padding 6rem 8.5rem
		background-color white
		font-size 1.4rem
		font-family mlight
		line-height 1.75
		color emperor
		+below(4)
			margin-top 0
			margin-bottom 5rem
		+below(3)
			padding 3rem 5rem
			box-shadow 0 0 2rem 0 rgba(0,0,0,0.2)
			margin-top -9rem
			padding-top 12rem
		+below(2)
			padding 5rem 3rem
			margin-top -8rem
			padding-top 10rem
		p 
			margin 0
			margin-bottom 2rem

	&__link
		font-size 1.3rem
		color dark_red
		text-decoration underline
		&:hover
			cursor pointer
			text-decoration none

	&__btns
		position absolute
		left 9rem
		bottom -1rem
		+below(4)
			position static
			padding 0 8.5rem
		+below(3)
			padding 0 5rem
		+below(2)
			padding 0
		.btn
			&:last-of-type
				+below(2)
					float right


.pt
	&_20rem
		padding-top 21rem
		+below(4)
			padding-top 10rem
		+below(3)
			padding-top 5rem

.img
	&__container
		position relative
		display inline-block

	&__desc
		position absolute
		bottom 0
		left 0 
		z-index 10
		padding 2rem
		width 100%
		color white
		text-align right
		+below(4)
			padding 2rem 3rem

	&__name
		font-family mmedium
		font-size 1.4rem
	&__position
		font-family mlight
		font-size 1rem

.hidden__text
	display none

.matchHeight
	+below(4)
		min-height auto !important