extends ../../common/pug/base/base

block vars
	- var page_class = "page_index"

block content
	.collection__container.pt_20rem
		.collection__img.matchHeight
			.collection__title Владелец коллекции
			.img__container
				img(src="../img/collection_img.jpg", alt="")

				.img__desc
					.img__name Александр Гарез
					.img__position бизнесмен, юрист, инвестор, коллекционер

		.collection__content.matchHeight
			.collection__desc
				p Александр родился во Франции в 1968 году. В 1991 году получил степень магистра 			в Сорбонне по специальности «бизнес и международное право», год спустя прошел альтернативную службу в посольстве Франции в Москве, где работал в визовом отделе, параллельно изучая русский язык.

				p В 1993 году получил дополнительное образование — DEA по международному праву 		в парижском университете Пантеон-Ассас и DESS по международному бизнес-праву 			в Нантер-ля-Дефанс. В том же году женился на Стефани Гарез (в девичестве Сикар) происходящей из старинной французской семьи.

				p В 1995 году Александр открыл в Москве вместе с партнерами юридическое бюро Seeberg, Stabreit и Garese, среди клиентов которого были крупные российские бизнесмены...

				.hidden__text
					p Александр родился во Франции в 1968 году. В 1991 году получил степень магистра 			в Сорбонне по специальности «бизнес и международное право», год спустя прошел альтернативную службу в посольстве Франции в Москве, где работал в визовом отделе, параллельно изучая русский язык.

					p В 1993 году получил дополнительное образование — DEA по международному праву 		в парижском университете Пантеон-Ассас и DESS по международному бизнес-праву 			в Нантер-ля-Дефанс. В том же году женился на Стефани Гарез (в девичестве Сикар) происходящей из старинной французской семьи.

					p В 1995 году Александр открыл в Москве вместе с партнерами юридическое бюро Seeberg, Stabreit и Garese, среди клиентов которого были крупные российские бизнесмены...

				span.collection__link Читать полностью

			.collection__btns
				.btn._solid._red._mr О коллекции
				.btn._border._red Перейти в каталог
