.footer
	margin-top 12rem
	padding 8rem 0
	background-color alabaster
	position relative
	z-index 2
	+below(4)
		padding 5rem 0
		padding-bottom 8rem
	&__container
		max-width 1000px
		margin auto
		.header__burger-btn
			display none !important
		.header__lang
			+below(4)
				bottom -3rem
				left 50%
				top auto
	.header__container
		+below(4)
			display block
			text-align center
		.header__logo
			img
				+below(4)
					margin auto
		.header__contacts
			+below(4)
				text-align center

		.header__menu
			+below(4)
				display block
