//- table.table(class="#{table.class}")
//- 	thead
//- 		tr
//- 			-each cell in table.head
//- 				th=cell
//- 	tbody
//- 		-each row in table.rows
//- 			tr
//- 				-each cell in row
//- 					td=cell
