@import '../../common/stylus/page.styl'
@import '../../components/select2/_select2.styl'
@import '../../components/card-modal/_card-modal.styl'

// below here include components styles
.catalog
	width 100%
	lost-flex-container: row;
	justify-content space-between
	&__container
		&.collection__container
			max-width 1220px

.search
	&__wrap
		position relative
		width 100%
		border 1rem solid old_gold
		padding 6.5rem 0
		margin-top 4.5rem
		margin-bottom 8rem
		lost-flex-container: row;
		justify-content center
		+below(3)
			margin-top 0

	&__container
		lost-column 10.5/12 0 0 flex
		margin auto
		lost-flex-container: row;
		justify-content space-between

	&__col
		lost-column 3.1/10 0 0 flex
		+below(4)
			lost-column none
			width 100% !important
			margin-bottom 2rem

	&__input
		width 100%
		border 0
		height 5rem
		padding 1rem
		padding-right 4rem
		box-sizing border-box !important
		font-size 1.4rem
		font-family mmedium
		font-weight 600
		color black
		border-radius: 4px;
		background white url(img/loop.png) right 10px center no-repeat
		box-shadow 0 0 7rem 0 rgba(0,0,0, 0.1);

	&__btn
		position absolute
		bottom -0.5rem
		left 50%
		transform translate(-50%, 50%)
		width 6rem
		height 6rem
		border-radius 6rem
		border 0
		color transparent
		background old_gold url(img/arrow_down.png) center center no-repeat
		box-shadow 0 0 4rem 0 rgba(0,0,0, 0.1);

.card
	lost-column 3.6/12 0 0 flex
	margin-bottom 5rem
	+below(4)
		lost-column 5.5/12 0 0 flex
	+below(2)
		lost-column 12/12
	&__img
		position relative
		margin-top 1rem
		margin-bottom 1rem
		border 1rem solid wild_sand
		&:after
		&:before
			content ''
			position absolute
			width 100%
		&:after
			height 100%
			left 0
			top 0
			background-color rgba(old_gold, 0.9)
			display none
		&:before
			z-index -3
			bottom -1rem
			left 0%
			height 2rem
			border-radius 100%
			box-shadow 0 15px 40px 0 rgba(0,0,0, 0.5);
		img
			width 100%
			max-width 100%
		&:hover
			border-color old_gold
			&:after
			.card__btn
				display block
	&__btn
		display none
		position absolute
		left 50%
		top 50%
		transform translate(-50%, -50%)
		z-index 3

	&__modal
		display none