extends ../../common/pug/base/base 

block vars
	- var page_class = "card__page"


block content
	include ../../components/card-modal/_card-modal.pug

	.collection__container.catalog__container
		form.search__wrap
			.search__container
				.search__col
					select.search__select(data-placeholder="Год создания")
						option(value="")
						option(value="1940-1950") 1940-1950
						option(value="1950-1960") 1950-1960
						option(value="1960-1970") 1960-1970
						option(value="1970-1980") 1970-1980
				.search__col.gray__circle
					select.search__select(data-placeholder="Наличие фото в хорошем качестве Наличие фото в хорошем качестве")
						option(value="")
						option(value="good") Наличие фото в хорошем качестве Наличие фото в хорошем качестве
						option(value="bad") Наличие фото в плохом Наличие фото в хорошем качестве
						option(value="normal") Наличие фото 
				.search__col
					input(type="search" placeholder="Начните вводить название...").search__input
			input(type="submit").search__btn

		.catalog
			.card.__center
				.__s10.__dusty 1956
				.card__img
					img(src="../img/card1.jpg", alt="")
					span.card__btn.btn._border._white Подробнее
				a(href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html").__s18.__medium.__block Испанская овечка
				.__s12.__light Иванов А. М.

			.card.__center
				.__s10.__dusty 1956
				.card__img
					img(src="../img/card1.jpg", alt="")
					span.card__btn.btn._border._white Подробнее
				a(href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html").__s18.__medium.__block Испанская овечка
				.__s12.__light Иванов А. М.

			.card.__center
				.__s10.__dusty 1956
				.card__img
					img(src="../img/card1.jpg", alt="")
					span.card__btn.btn._border._white Подробнее
				a(href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html").__s18.__medium.__block Испанская овечка
				.__s12.__light Иванов А. М.

			.card.__center
				.__s10.__dusty 1956
				.card__img
					img(src="../img/card1.jpg", alt="")
					span.card__btn.btn._border._white Подробнее
				a(href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html").__s18.__medium.__block Испанская овечка
				.__s12.__light Иванов А. М.

			.card.__center
				.__s10.__dusty 1956
				.card__img
					img(src="../img/card1.jpg", alt="")
					span.card__btn.btn._border._white Подробнее
				a(href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html").__s18.__medium.__block Испанская овечка
				.__s12.__light Иванов А. М.

			.card.__center
				.__s10.__dusty 1956
				.card__img
					img(src="../img/card1.jpg", alt="")
					span.card__btn.btn._border._white Подробнее
				a(href="http://pic.wellwedo.com/templates/1944/build/card-page/card-page.html").__s18.__medium.__block Испанская овечка
				.__s12.__light Иванов А. М.
