@import '../../common/stylus/page.styl'

.page_article
	overflow-x hidden
.article
	&__container
		width 70%
		margin auto
		margin-top 4rem
		+below(4)
			width 100%
			padding 0 10px

	&__title
		letter-spacing -2px
		margin-bottom 5rem
		&.__s84
			+below(3)
				font-size 10vw
				letter-spacing 0
				font-weight bold
			+below(2)
				font-size 9vw


	&__img
		position relative
		&:before
			content ''
			position absolute
			width 100%
			z-index -1
			bottom 0
			left 0%
			height 2rem
			border-radius 100%
			box-shadow 0 15px 40px 0 rgba(0,0,0, 0.5);
		&-container
			&.__horizontal
				position relative
				width 100%
				// lost-utility clearfix
				lost-flex-container row
				margin-bottom 5rem
				+below(2)
					lost-flex-container column
				&.__padding
					padding 12rem 0
					margin-bottom 0

				.article__img
					lost-column 6/8 2 3rem flex
					+below(2)
						// lost-column none
						width 100%
					img
						max-width 100%
						width 100%
				.article__img-text
					lost-column 2/8 2 3rem flex
					display flex
					justify-content center
					flex-direction column
					+below(2)
						padding 0 5rem
						padding-top 3rem
						// lost-column none
						width 100%
						float none

			&.__vertical
				width 47%
				float right
				padding-left 2rem
				+below(2)
					width 100%
					float none
					padding 0
					margin-bottom 2rem
				.article__img
					margin-bottom 3rem
					img
						width 100%
				.article__img-text
					line-height 1
	&__state
		line-height 1.9
		p
			margin-top 0
			margin-bottom 2rem
.linebg
	position absolute
	width 140vw
	z-index -1
	background-color old_gold
	&.__large
		height 25vw
		top 17%
		left 50%
		transform translate(-50%, -50%) rotate(15deg)
		+below(4)
			height 50vw
		+below(3)
			height 75vw
		+below(2)
			height 90vh
	&.__small
		height 16vw
		top 63%
		left 50%
		transform translate(-50%, -50%) rotate(-15deg)
		+below(4)
			height 32vw
		+below(3)
			height 60vw
		+below(2)
			height 70vh

.share
	&__btn
		display inline-block
		margin-right 12px
		width 40px
		height 40px
		cursor pointer
		&.__vk
			background url(../img/vk.png) center center no-repeat
		&.__fb
			background url(../img/fb.png) center center no-repeat
		&.__ig
			background url(../img/ig.png) center center no-repeat
		&s
			padding-top 1rem
