@import '../modal/_modal.styl'
.card-modal__container.collection__container.card-page__container
	padding 0
	position relative
	max-width 1000px
	align-items center
	.card-page__image
	.card-page__content
		lost-column 1/2 0 0 flex
		lost-offset 0
		margin-right 0 !important
		box-shadow 0 0 2rem 0 rgba(black, 0.2)
	.card-page__image
		+below(3)
			display none
	.card-page__content
		padding-top 0
		padding 4rem
		background white
		+below(3)
			text-align center
			padding-top 5rem !important
			padding-bottom 2rem !important
		.btn
			+below(2)
				width 100%
		.cp__info
			margin 0
			padding-top 0
			&:before
				display none
	.info__half
		+below(3)
			text-align left
			lost-column 1/2 0 0