.card__modal
	.modal__fancy

	.modal__container
		.card-modal__container.collection__container.card-page__container
			.modal__close
			.card-page__image
				img(src="../img/cardp.jpg", alt="")
			.card-page__content
				.cp__header
					div.paint__info.__light.__s10.__dusty
						span.paint__date Год создания – 1961
						span.paint__id Папка №1 
							span.id__div &nbsp;&nbsp; / &nbsp;&nbsp; 
							span.id__number Инвентарный номер К-2

					.paint__title.__s24.__medium Плати налоги - спи спокойно
					.paint__creater.__light.__tundora.__s14 Иванов А. М.

				.cp__info
					.info__half
						.__s14.__medium Техника:

						ul.info__list.__light.__s12
							li бумага
							li тушь
							li литографский карандаш
							li тушь
							li перо
							li кисть
							li чернила

					.info__half
						.__s14.__medium Размер:

						ul.info__list.__light.__s12
							li 26х25,3

						.__s14.__medium Примечание:

						ul.info__list.__light.__s12
							li На обороте 2 колонки  22/III-45:
				a(href="").btn._border._yellow Купить
