doctype html
html(lang="ru")

	- var page_class = ''

	block vars


	include ../../../components/header/_head


	body(class="" + page_class)

		div.main_wrap
			- var headerClass = 'header'
			include ../../../components/header/_header

			block content


		include ../../../components/footer/_footer

		include ../../../components/styles/_styles

		include ../../../components/scripts/_scripts

