@import '../../../node_modules/stylus-normalize/normalize.styl'
@import var
@import mixins
@import reset
@import sprite
@import fonts


html
body
	background-color body_bg
	color txt_color
	-webkit-font-smoothing antialiased

html
	font-size 10px
	line-height 1
	height 100%
	+below(3)
		font-size 9px
	+below(2)
		font-size 8px
	// +below(1)
	// 	font-size 7px

body
	position relative
	min-height 100%
	margin-right: 0;
	font-family mmedium


img
	max-width 100%
	display block

.block_wrap
	display block
	margin auto
	max-width max_width
	lost-utility clearfix
	padding 0 20px
	&_long
		max-width 1310px
		padding 50px 80px
		background-color white
		+below(4)
			padding 50px 20px
		+below(3)
			padding 30px 20px

.card__page
	position relative
	&:after
	&:before
		content ''
		position absolute
		top 0
		z-index 1
		height 100%
		+below(4)
			display none

	&:after
		width 50%
		left 25%
		border-left 1px solid gallery
		border-right 1px solid gallery
	&:before
		left 50%
		width 0
		border-left 1px solid gallery
		margin-left -0.5px


.scrollbar_fix
	margin-left calc(100vw - 100%)


.main_wrap
	max-width 1400px
	margin auto
	position relative
	z-index 2
	letter-spacing 0.05rem


.page_index
	background #fff url(img/trapez.png) 0 -5rem no-repeat
	background-size 100% auto
	+below(3)
		background-position center center
		background-size auto 40%
	&.post__page
		background-position center top
	&.card__page
		background-color concrete


.btn
	display inline-block
	border 0 
	margin-bottom 1rem
	background-color transparent
	text-decoration none
	color black
	padding 1.6rem 3.3rem
	border 2px solid transparent
	font-size 1.7rem
	font-family mregular
	font-weight 600
	&:hover
		cursor pointer
	+below(2)
		padding 1.5rem 2rem
	&._solid
		&._red
			border-color dark_red
			background-color dark_red
			color white
			&:hover
				box-shadow 0 1rem 3rem 0 rgba(guardsman_red, 0.5)
			&:active
				border-color guardsman_red
				background-color guardsman_red
	&._border
		&._red
			border-color dark_red
			color dark_red
			&:hover
				color white
				background-color dark_red
			&:active
				opacity 0.4
		&._white
			border-color white
			color white
			padding 1.2rem 5rem
			&:hover
				background-color white
				color old_gold
		&._yellow
			border-color old_gold
			color old_gold
			padding 1.2rem 5rem
			&:hover
				background-color old_gold
				color white
	&._mr
		margin-right 6rem
		+below(3)
			margin-right 1rem
		+below(2)
			margin-right 0

a
	color link_color
	text-decoration none


*
	box-sizing border-box
	vertical-align top
	&:focus
		outline none


// сбросить стандартные стили для ui buttons
input[type="submit"]
	-webkit-appearance none
	-moz-appearance none
	appearance none


@import '../../components/header/_header.styl'
// @import '../../components/aside/_aside.styl'
@import '../../components/footer/_footer.styl'
@import '../../pages/**/**.styl'