c()
	position absolute
	margin auto
	bottom 0
	right 0
	left 0
	top 0

vcenter()
	position absolute
	margin auto
	bottom 0
	top 0

hcenter()
	position absolute
	margin auto
	right 0
	left 0

ccenter()
	transform translate(-50%, -50%)
	position absolute
	left 50%
	top 50%

clearFix()
	display block
	clear both
	content ""
	height 0

maxSize()
	width 100%
	height 100%
	display inline-block

veiwport()
	width 100vw
	height 100vh
	display inline-block

txtShort()
	text-overflow ellipsis
	white-space nowrap
	overflow hidden

flex()
	display flex
	flex-flow row wrap

noUserSelect()
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

resetList()
	display inline-block
	margin 0
	padding 0
	list-style none
	li
		display inline-block
		list-style none
		
fullSize()
	width 100%
	height 100%
