h1
.h1
	font-size 3.2rem


.__center
	text-align center

.__left
	text-align left

.__right
	text-align right



.__medium
	font-family mmedium
	// font-weight 600
	font-weight 400

.__regular
	font-family mregular
	font-weight 400

.__light
	font-family mlight
	font-weight 200

.__block
	display block

.__s10
	font-size 1rem

.__s12
	font-size 1.2rem

.__s13
	font-size 1.3rem

.__s14
	font-size 1.4rem

.__s16
	font-size 1.6rem

.__s17
	font-size 1.7rem

.__s18
	font-size 1.8rem

.__s24
	font-size 2.4rem

.__s30
	font-size 3rem

.__s90
	font-size 9rem
	+below(3)
		font-size 10vw
	+below(2)
		font-size 14vw

.__s84
	font-size 8.4rem



.__dusty
	color dusty_gray

.__tundora
	color tundora

.__gold
	color old_gold

.__red
	color dark_red

.__boulder
	color boulder

.__mb2
	margin-bottom 2rem
	+below(2)
		margin-bottom 1rem