body_bg = #fff

txt_color = #000

max_width = 1200px

rupture.scale = 0 320px 480px 768px 991px 1200px

base = ', Open Sans, sans-serif'

mmedium = mullermedium + base
mlight = mullerlight + base
mregular = mullerregular + base

gray = #898989
link_color = #000
alabaster = #fafafa
emperor = #555555
guardsman_red = #c90000
old_gold = #d5a93f
anzac = #dfb141
dusty_gray = #959595
tundora = #464646
gallery = #ebebeb
wild_sand = #f5f5f5
concrete = #f2f2f2
boulder = #7d7d7d
silver = #c2c2c2
dark_red = #E01010
