.modal
	&__container
		position fixed
		z-index 30
		left 0
		top 0
		width 100%
		height 100%
		display flex
		padding 2rem
		justify-content center
		align-items center

	&__fancy
		position fixed
		z-index 30
		left 0
		top 0
		width 100%
		height 100%
		background-color rgba(white, .6)

	&__close
		position absolute
		right 0
		top 0
		z-index 3
		width 21px
		height 21px
		display inline-block
		background  url(img/close.png) center center no-repeat
		cursor pointer
		+below(4)
			top 2rem
			right 2rem