.modal__fancy
.modal.modal_buyitem
	.modal__title modal title

	.modal__close

	form.modal__form

		.modal__formrow
			.modal__formfield
				label.modal__label your name
				input(type="text").modal__field
			.modal__formfield
				label.modal__label phone
				input(type="text").modal__field
			.modal__formfield
				label.modal__label E-mail
				input(type="text").modal__field

		.modal__formrow.txt_center
			input(type="submit" value="Отправить").modal__submit