.header

	&__logo
		min-width 95px
		opacity 0
		img
			+below(2)
				max-width 80px

	&__container
		position relative
		padding 1.3rem 3rem
		text-align center
		display flex
		justify-content space-between
		+below(3)
			padding 1.3rem 1rem

	&__menu
		resetList()
		padding-top 1.8rem
		padding-left 5rem
		&.header
			+below(4)
				display none
				position fixed
				z-index 100
				top 0
				left 0
				width 100%
				height 100%
				padding 8rem 2rem
				padding-top 10rem

				background-color white
			li
				a
					&:hover
						color dark_red
					&.active
						position relative
						color black
						z-index 2
						+below(4)
							color old_gold
						&:hover
							color black
						&:before
							content ''
							position absolute
							left -10px
							top - 31px
							z-index -1
							padding 0 10px
							width 100%
							height 60px
							background-color old_gold
							display block
							+below(4)
								display none

				+below(4)
					display block
					width 100%
					font-size 2rem
					margin-bottom 3rem
		li
			padding 0 2.7rem
			text-transform uppercase
			font-size 1.2rem
			letter-spacing 1px
			a
				&:hover
					cursor pointer
		&.footerHeader
			+below(4)
				padding-top 2rem
				padding-left 0
			li
				+below(4)
					display block
					text-align center
					font-size 1.5rem
					margin-bottom 2rem
				a
					&:hover
					&:active
					&.active
						color dark_red
			
	&__contacts
		padding-top 1.8rem
		text-align right
		line-height 1.2
		+below(2)
			padding-top 1rem

	&__burger-btn
		display none
		position absolute
		left 50%
		margin-left -15px
		top 2.5rem
		width 30px
		height 16px
		cursor pointer
		&.active
			position fixed
		+below(4)
			z-index 101
		span
			display block
			margin auto
			width 23px
			height 2px
			margin-bottom 5px
			background-color black
			&:nth-child(2)
				width 100%
		+below(4)
			display block

	&__lang
		// position absolute
		color gray
		// top 2.3rem
		// left 15rem
		padding-top 1.5rem
		font-size 1.4rem
		+below(4)
			margin-bottom 2rem
			color grey
		a
			color gray
			&.active
				color black
			&:hover
				color dark_red

.contacts
	&__phone
		font-size 1.8rem
		font-family mmedium
		color black
		font-weight bold

	&__email
		font-family mlight
		font-size 1.2rem
		color gray
		&:hover
			color dark_red