head
	title='default'
	meta(charset="UTF-8")
	meta(
		name="viewport"
		content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"
	)
	meta(
		http-equiv="X-UA-Compatible"
		content="IE=edge"
	)
	meta(
		name="apple-mobile-web-app-capable" 
		content="yes"
	)
	meta(
		name="mobile-web-app-capable" 
		content="yes"
	)

	link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=cyrillic,cyrillic-ext', rel='stylesheet')

