header.header
	.header__container 

		//- a(href="/").header__logo
		//- 	img(src="../img/logo.png", alt="")

		nav.header__lang
			a(href="").active ru
			span /
			a(href="") en

		.header__burger-btn
			span
			span
			span
		ul(class="header__menu " + headerClass)
			- var menu = [{test: 'Главная',class: 'active', link:'http://pic.wellwedo.com/templates/1944/build/index/index.html'}, {test: 'Каталог',class: '', link:'http://pic.wellwedo.com/templates/1944/build/catalog/catalog.html'}, {test: 'Cтатьи', class: '', link:'http://pic.wellwedo.com/templates/1944/build/posts/posts.html'},{test: 'Контакты', class: '', link:''}]
			each val in menu
				li
					a(href=val.link class="" + val.class)=val.test

		.header__contacts
			a(href="tel:88003451256").contacts__phone 8 800 345-12-56
			br
			a(href="mailto:info@1944.ru").contacts__email info@1944.ru

