@import '../../common/stylus/page.styl'

.card-page

	&__container
		letter-spacing 0.05rem
		&.collection__container
			padding-top 9rem
			align-items flex-start
			+below(4)
				justify-content space-between
			+below(3)
				padding-top 0
				flex-direction column
				align-items center

	&__image
		position relative
		z-index 3
		lost-column 5/12 2 0 flex
		border 2rem solid old_gold
		img
			width 100%
		&:after
			content ''
			position absolute
			left -2rem
			top -2rem
			display block
			height 100%
			width 100%
			border 2rem solid old_gold
			+below(3)
				border 2rem solid wild_sand
		&:before
			content ''
			z-index -3
			display none
			position absolute
			bottom -2rem
			left 0%
			height 2rem
			width 100%
			border-radius 100%
			// border 1px solid red
			+below(3)
				display block
				box-shadow 0 2rem 6rem 0 rgba(0,0,0, 0.5);
		+below(3)
			border 2rem solid wild_sand
			lost-column none


	&__content
		padding-top 7.2rem
		lost-column 4.3/12 2 0 flex
		lost-offset 1.55/12
		+below(4)
			lost-column 6/12 2 0 flex
			lost-offset none
		+below(3)
			lost-column none
			margin 0 !important
			width 100% !important
			padding 0 2rem !important
			padding-top 3rem !important

.id
	&__div
		// +below(3)
		// 	display none
	&__number
		white-space normal
		+below(3)
			display block
.cp
	&__header
		padding-bottom 2.6rem

	&__info
		position relative
		z-index 1
		padding 3rem 0 1rem 0
		margin-bottom 2rem
		lost-utility clearfix
		+below(4)
			padding 3rem
			padding-bottom 1rem
		+below(3)
			padding 3rem 0 1rem 0
		&:before
			content ''
			position absolute
			z-index -1
			top 0
			left -4rem
			display block
			width calc( 100% + 8rem )
			height 100%
			border 1px solid gallery
			background-color white
			+below(4)
				left 0
				width 100%
			+below(3)
				left -4rem
				width calc( 100% + 8rem )

	&__more
		position relative
		display inline-block
		padding-right 2rem
		margin-bottom 1rem
		cursor pointer
		text-decoration underline
		&:before
			content ''
			position absolute
			transition 0.3s
			top 0.7rem
			right 0
			width 1rem
			height 1rem
			display block
			border-right 0.2rem solid old_gold
			border-top 0.2rem solid old_gold
			transform rotate(45deg)
		&.open
			&:before
				top 1rem
				transform rotate(-45deg)
		&:hover
			text-decoration none
	&__article
		display none

.paint
	&__id
		float right
		display flex
		white-space nowrap
		+below(3)
			text-align right

	&__info
		lost-utility clearfix
		padding-bottom 0.4rem
		&>span
			max-width 50%
		&:before
		&:after
			+below(3)
				display none
		+below(3)
			display flex
			justify-content space-between
			align-items flex-end

	&__title
		padding-bottom 0.5rem


.info
	&__half
		lost-column 1/2 2 0
		+below(3)
			lost-column none 
			width 100%
	&__list
		resetList()
		padding-top .5rem
		padding-right 0.5rem
		margin-bottom 2rem
		li
			position relative
			width 100%
			padding-left 1rem
			margin-bottom 0.1rem
			font-weight 400
			&:before
				content ''
				position absolute
				left 0
				top 0
				bottom 0
				margin auto
				width 0.5rem
				height 0.5rem
				background-color old_gold
				display inline-block
				transform rotate(45deg)
