@import '../../common/stylus/page.styl'

.pt9
	padding-top 9rem
	+below(3)
		padding-top 0

.post
	padding 3rem
	background-color white
	lost-column: 1/3 3 2rem;
	margin 0 !important
	margin-bottom 2rem !important
	box-shadow 0 0 2rem 0 rgba(black, 0.2)
	+below(4)
		lost-column 1/2 2 2rem;
	+below(3)
		lost-column none
	&s__container
		lost-flex-container: row;
		align-items flex-start
		margin auto
		padding 0 
		padding-top 2rem
		+below(4)
			margin-left 10px 
			margin-right 10px 
	&__title
		margin-bottom 2rem

	&__article
		margin 2rem 0
		line-height 1.5
		+below(2)
			font-size 1.4rem
	&__btn
		display inline-block
		text-decoration underline
		cursor pointer
		+below(2)
			font-weight bold
		&:hover
			text-decoration none

	&s__btn
		+below(2)
			width calc(100% - 20px)