extends ../../common/pug/base/base 

block vars
	- var page_class = "page_index card__page post__page"

block content
	.__center.__s90.__medium.pt9 Статьи
	.collection__container.posts__container

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций. Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать

		.post
			.post__title.__s30.__medium Ваш шедевр готов!
			.post__date.__light.__s10.__dusty 01/08/2017
			.post__article.__regular.__s12 Повседневная практика показывает, что консультация с широким активом обеспечивает широкому кругу (специалистов) участие в формировании позиций...
			.post__btn.__s16.__red Читать
	.__center
		br
		br
		br
		.posts__btn.btn._border._yellow Смотреть ещё